@{ 
   var user = Session["user"] as ShopMyPham.Models.QuanTri;
    var cart = ViewBag.Cart as ShopMyPham.ViewModel.CartModel;
}
<!-- header-top-area start -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <!-- header-social-icon start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="header-social-icon">
                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="email-content">
                    <span>nhoangtien95@gmail.com</span>
                </div>
            </div>
            <!-- header-social-icon end -->
            <!-- header-top-menu start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <div class="header-top-menu" style="margin-right: -130px;">
                    @if (user == null)
                    {
                        <ul>
                            <li><a href="#">@Html.ActionLink("Tài khoản", "Index", "Client")</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li>Xin chào, @user.Ten</li>
                            <li>@Html.ActionLink("Đăng xuất","Logout","Client")</li>
                        </ul>
                    }
                </div>
            </div>
            <!-- header-top-menu end -->
        </div>
    </div>
</div>
<!-- header-top-area end -->

  <!-- header-mid-area start -->
<div class="header-mid-area">
    <div class="container">
        <div class="row">
            <!-- logo start -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="logo">
                    <a href="index.html"><img src="/Content/img/logo/logo.png" alt="" /></a>
                </div>
            </div>
            <!-- logo end -->
            <!-- cat-search start -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="cat-search">
                    <div class="cart-total">
                        <ul>
                            <li>
                                <a href="cart.html"><span class="cart-icon"><i class="fa fa-shopping-cart"></i></span></a>                               
                                <div class="mini-cart-content">
                                    @if (cart == null || cart.Items.Count() == 0)
                                    {
                                        <div class="cart-img-details">
                                            <div class="cart-img-contaent">
                                                <a><h4>Bạn chưa có sản phẩm nào</h4></a>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    }
                                    else
                                    {
                                        foreach (var item in cart.Items)
                                        {
                                            <div class="cart-img-details">
                                                <div class="cart-img-photo">
                                                    <a href="#"><img src="~/Photos/SP/@item.SanPhamHinh.TenHinh" alt="" /></a>
                                                    <span class="quantity">@item.SoLuong</span>
                                                </div>
                                                <div class="cart-img-contaent">
                                                    <input type="hidden" id="removeProduct-id" value="@item.SanPham.SanPhamID" />
                                                    <a href="#"><h4>@item.SanPham.TenSanPham</h4></a>
                                                    <span>@string.Format("{0:#,##0 VND}", @item.SanPham.GiaBan)</span>
                                                </div>
                                                <div class="pro-del removeCart" style="margin-right:-15px" ><a><i class="fa fa-times-circle"></i></a></div>
                                            </div>
                                        }
                                        <p class="total">Tổng Cộng: <span class="amount">@cart.Total().ToString("#,##0VND")</span></p>
                                        <div class="clear"></div>
                                        <p class="cart-button-top">@Html.ActionLink("Mua Hàng", "Index", "Cart")</p>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search">
                        @Html.Action("_ChildrenSearchPartial", "Home")
                    </div>
                </div>
            </div>
            <!-- cat-search start -->
        </div>
    </div>
</div>
<!-- header-mid-area end -->