@{
    ViewBag.Title = "Danh Sách Nhân Viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var list = (List<ShopMyPham.Areas.Admin.Models.NhanVienModel>)Model;
    ShopMyPham.Areas.Admin.Models.NhanVienModel nhanVien = new ShopMyPham.Areas.Admin.Models.NhanVienModel();
    var newUser = new ShopMyPham.Areas.Admin.Models.NhanVienModel();
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Nhân Viên</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        @Html.ValidationSummary(true, "", new { @class = "alert alert-success alert-dismissible" })
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh Sách</h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <button type="button" class="btn btn-success" style="ruby-align:right" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i> Thêm</button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <ul></ul>
                            <div class="clearfix"></div>

                            @foreach (ShopMyPham.Areas.Admin.Models.NhanVienModel user in list)
                            {
                                <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                    <div class="well profile_view">
                                        <div class="col-sm-12">
                                                <h4 class="brief"><i>Quản Lý</i></h4>
                                            <div class="left col-xs-7">
                                                <h2>@user.Ten</h2>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-star"></i> ID: @user.ID</li>
                                                    <li><i class="fa fa-user"></i> Tài Khoản: @user.Username</li>
                                                </ul>
                                            </div>
                                            <div class="right col-xs-5 text-center">
                                                <img src="~/Areas/Admin/Assets/img/avatar.jpg" alt="" class="img-circle img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 bottom text-center">
                                            <div class="col-xs-12 col-sm-6 emphasis" style="width:75%">
                                                @{
                                                    string id = "#" + user.ID;
                                                    string edit = "#edit_" + user.ID;
                                                    string edit2 = "edit_" + user.ID;
                                                }
                                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target=@id>
                                                    <i class="fa fa-eye"></i> Xem
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id=@user.ID tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                                                <div class="x_panel" style="width:250px">
                                                    <div class="x_content">
                                                        <img src="~/Areas/Admin/Assets/img/avatar.jpg" alt="..." class="img-circle profile_img">
                                                        <h3 class="name">@user.Ten</h3>
                                                        <div class="flex">
                                                            <ul class="list-inline count2">
                                                                <p>
                                                                    <i class="fa fa-user"> Tài Khoản: @user.Username</i>
                                                                </p>
                                                                <p>
                                                                    <i class="fa fa-building"> Địa Chỉ: @user.DiaChi</i>
                                                                </p>
                                                                <p>
                                                                    <i class="fa fa-phone"> Số Điện Thoại: @user.Sdt</i>
                                                                </p>
                                                                <p>
                                                                    <i class="fa fa-at"> Email: @user.Email</i>
                                                                </p>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                                    }
                            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Thêm Nhân Viên</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="x_panel" style="border:none">
                                                <div class="x_content">
                                                    <br>
                                                    @using (Html.BeginForm("AddUser", "User", FormMethod.Post))
                                                    {
                                                        <div class="form-horizontal form-label-left input_mask">
                                                            <div class="form-group">

                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="text" class="form-control has-feedback-left" name="userName" required="required" placeholder="Tài Khoản">
                                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="password" class="form-control has-feedback-left" name="password" required="required" placeholder="Mật Khẩu">
                                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="text" class="form-control has-feedback-left" name="ten" required="required" placeholder="Họ Tên">
                                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="text" class="form-control has-feedback-left" name="diaChi" required="required" placeholder="Địa Chỉ">
                                                                    <span class="fa fa-building form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="text" class="form-control has-feedback-left" name="sdt" required="required" placeholder="Số Điện Thoại">
                                                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" style="width:100%">
                                                                    <input type="text" class="form-control has-feedback-left" name="email" required="required" placeholder="Email">
                                                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ln_solid"></div>
                                                            <div class="form-group">
                                                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                                    <button type="reset" class="btn btn-primary">Nhập Lại</button>
                                                                    <button type="submit" class="btn btn-success">Xác Nhận</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
